* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', arial, sans-serif;
}

.navbar-menu {
    min-height: 40px;
    background-color: #2e9bfc;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}

.main-menu {
    .navbar-nav {
        .active a {
            background-color: #D33;
        }

        li {
        		position: relative;
            margin-right: 5px;
             
            a {
                font-size: 12px;
                font-weight: bold;
                padding: 10px 15px;
                text-align: center;
                color: #FFF;
                display: block;
                &:hover {
                    background-color: #D33;
                }
                &:focus {
                    background-color: #D33;
                }
            }
            .sub-menu {
            		position: absolute;
								background-color: #2E9BFC;
								top: 100%;
            		z-index: 10;
             		width: 250px;
                display: none;
                list-style: none;
                li {
									
                	text-align: left;
                	a {
                		display: block;
                		text-align: justify;
                	}
                }
            }
            &:hover .sub-menu {
								
                display: inline-block;
              
             }
        }
    }
}
.slide-adv {
    position: relative;

    .item {
        height: 400px;

        .dev-img {
            background-color: #999;
            width: 100%;
            vertical-align: middle;
            font-size: 150px;
            text-align: center;
            height: 100%;
        }
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        left: 1%;
        right: 1%;

        [class*="owl-"] {
            padding: 0;
            background: none;
            font-size: 20px;

            &:hover {
                background: none;
            }
        }

        .owl-prev {
            float: left;
        }

        .owl-next {
            float: right;
        }
    }
}

.custom-sidebar {
    padding-left: 0;
}

.title-sidebar {
    margin-bottom: 15px;

    h4 {
        float: left;
        margin: 0;
        width: 60%;
        color: #F00;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }

    .border-title {
        display: block;
        float: left;
        width: 20%;
        height: 2px;
        margin-top: 5px;

        .left {
            display: block;
            padding: 1px;
            background-image: -webkit-linear-gradient(left, transparent, blue);
            background-image: -o-linear-gradient(left, transparent, blue);
            background-image: linear-gradient(to right, transparent, blue);
        }

        .right {
            display: block;
            padding: 1px;
            background-image: -webkit-linear-gradient(left, blue, transparent);
            background-image: linear-gradient(to right, blue, transparent);
        }
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.news-highlights {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 15px;

        a {
            display: block;
            color: #333;
            font-size: 12px;
            font-weight: 300;

            &:hover {
                color: #ff0000;
            }

            span {
                color: #ff0000;
                font-size: 6px;
                margin-right: 6px;
            }
        }
    }
}