* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', arial, sans-serif;
}

.navbar-menu {
    min-height: 40px;
    background-color: #D3D3D8;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 5px;
}

.main-menu {
    padding: 0;

    .navbar-nav {
        width: 100%;
        padding: 0;
        display: block;
        position: relative;

        .active a {
            background-color: #42A7EF;
            color: #fff;
        }

        li {
            perspective: 100%;
            cursor: pointer;
            position: relative;
            margin-right: 5px;

            a {
                transition: all .5s ease;
                transform-style: preserve-3d;
                font-size: 14px;
                font-weight: bold;
                padding: 10px 12px;
                text-align: center;
                color: #333;
                display: block;

                &:hover {
                    background-color: #42a7ef;
                    color: #fff;
                }

                &:focus {
                    background-color: #42a7ef;
                }
            }

            .sub-menu {
                &::before {
                    transition: all .5s ease;
                    z-index: 1;
                    top: -20px;
                    left: 35%;
                    height: auto;
                    position: absolute;
                    content: "";
                    border: medium solid white;
                    border-width: 10px 10px 10px 10px;
                    border-color: transparent transparent white transparent;
                }

                position: absolute;
                top: 100%;
                z-index: 10;
                width: 250px;
                display: none;
                height: auto;
                background-color: #afdfff;
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(102, 175, 233, .6);
                list-style: none;

                li {
                    margin: 0;
                    text-align: left;
                    border-bottom: 1px solid #fff;

                    a {
                        display: block;
                        text-align: justify;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            &:hover .sub-menu {
                display: block;
                transition: all .5s ease;
            }
        }
    }
}

.slide-adv {
    position: relative;

    .item {
        height: 400px;
    }

    .owl-nav {
        position: absolute;
        top: 42%;
        left: 1%;
        right: 1%;

        [class*="owl-"] {
            padding: 0;
            background: none;
            font-size: 20px;

            &:hover {
                background: none;
            }
        }

        .owl-prev {
            float: left;
        }

        .owl-next {
            float: right;
        }
    }
}

.custom-sidebar {
    padding-left: 0;
}

.title-sidebar {
    margin-bottom: 15px;

    h4 {
        float: left;
        margin: 0;
        width: 60%;
        color: #F00;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }

    .border-title {
        display: block;
        float: left;
        width: 20%;
        height: 2px;
        margin-top: 5px;

        .left {
            display: block;
            padding: 1px;
            background-image: -webkit-linear-gradient(left, transparent, blue);
            background-image: -o-linear-gradient(left, transparent, blue);
            background-image: linear-gradient(to right, transparent, blue);
        }

        .right {
            display: block;
            padding: 1px;
            background-image: -webkit-linear-gradient(left, blue, transparent);
            background-image: linear-gradient(to right, blue, transparent);
        }
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.news-highlights {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 15px;

        a {
            display: block;
            color: #333;
            font-size: 12px;
            font-weight: 300;

            &:hover {
                color: #ff0000;
            }

            span {
                color: #ff0000;
                font-size: 6px;
                margin-right: 6px;
            }
        }
    }
}

.content-home {
    padding: 30px 0 35px;
}

.tab-home {
    width: 100%;
    display: block;
    border: none;
    margin-bottom: 15px;

    .active a {
        color: #fff;
        background: #2e9bfc;
    }

    li {
        display: block;
        float: left;

        a {
            padding: 10px 34px;
            display: block;
            background-image: linear-gradient(to right, #3599db, #7ebee8);
            color: #fff;
            border: none;

            &:hover {
                background-image: linear-gradient(to right, #5dcf8b, #5dcf8b);
                border: none;
            }
        }
    }
}

.tab-home>li.active>a,
.tab-home>li.active>a:focus,
.tab-home>li.active>a:hover {
    background-color: #5dcf8b;
    color: #FFF;
    border: none;
}

.fix-node-home {
    padding-left: 10px;
    padding-right: 7.5px;

    &:first-child {
        padding-left: 15px;
    }

    &:last-child {
        padding-right: 15px;
    }
}

.node {
    width: 100%;
    display: block;
}

.node-home {
    margin-bottom: 25px;

    .pro-img {
        width: 100%;
        height: 200px;
        display: block;
        margin-bottom: 15px;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 100%;
            width: 100%;
            vertical-align: middle;
        }
    }

    .pro-info {
        h4 {
            font-size: 14px;
            font-weight: 500;
            color: #333;
        }
    }
}

.node-page {
    padding: 10px;
    display: block;
    text-align: center;

    span {
        font-size: 50px;
        color: #FFF;
    }

    h4 {
        color: #fff;
        margin: 0;
    }

    &:hover {
        text-decoration: none;
    }
}

.bgcolor-1 {
    background-color: #7A760B;
}

.bgcolor-2 {
    background-color: #D9532C;
}

.bgcolor-3 {
    background-color: #00889D;
}

.bgcolor-4 {
    background-color: #FB0;
}

.bgcolor-5 {
    background-color: #A60BE7;
}

.bgcolor-6 {
    background-color: #2D88EF;
}

.footer {
    background-color: #2C58A4;
    padding: 20px 0;

    .title-footer {
        margin-bottom: 15px;
        border-bottom: 1px solid #FFF;
        width: 80%;

        h2 {
            font-size: 20px;
            line-height: 1.27;
            padding-bottom: 10px;
            color: white;
            text-transform: capitalize;
        }
    }

    .google-map {
        width: 100%;
        height: 160px;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    .statistical {

        display: block;
        width: 100%;
        height: auto;

        .title-statistical {
            width: 80%;
            margin-bottom: 15px;
            border-bottom: 1px solid #FFF;

            h3 {
                font-size: 20px;
                padding-bottom: 10px;
                color: #fff;
                text-transform: uppercase;
            }
        }

        .access {
            display: inline-block;
            padding: 0;
            list-style: none;

            li {
                text-transform: capitalize;
                color: #FFF;

                span {
                    font-size: 18px;
                    margin-right: 5px;
                }

                strong {
                    color: gold;
                }
            }
        }
    }

    .copyright {
        p {
            margin: 0;
            font-size: 14px;
            color: #FFF;
        }
    }
}

// about

#main {
    padding-bottom: 20px;
}

.custom-main {}

.custom-sidebar {
    padding-left: 0;
}

.menu-sidrbar {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;

    .title-siderbar {
        background-image: linear-gradient(to right, #36A1ED, #b2e1ff);
        -webkit-border-radius: 4px 0 0 4px;
        border-radius: 40px 0 40px 0;
        margin-bottom: 5px;
        width: 100%;
        padding: 14px 20px;

        h3 {
            text-align: center;
            margin: 0;
            font-size: 20px;
            color: #fff;
        }
    }

    .img-widget {
        width: 100%;
        display: block;
        height: auto;

        img {
            display: block;
            max-width: 100%;
            height: auto;

        }
    }

    .nav-sidebar {
        background-color: rgb(237, 237, 237);
        list-style: none;
        padding-left: 5px;

        li {
            display: block;
            border-bottom: 1px solid #f4f4f4;

            a {
                background-color: #3498DB;
                display: block;
                color: #fff;
                padding: 8px 20px;

                &:hover {
                    background-color: #f9f9f9;
                    color: #333;
                    text-decoration: none;
                }
            }
        }
    }
}

.menu-sidebar-2 {
    .title-siderbar {
        border-radius: 40px 0 40px 0;
    }
}

.title-page {
    text-align: center;

    h1 {
        font-size: 24px;
    }

    .border-title {
        width: 150px;
        height: 2px;
        background-color: #F88C00;
        margin: 0 auto;
    }
}

.node-news {
    padding-right: 15px;
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;

    .title-node-news {
        display: block;
        width: 100%;
        margin-bottom: 10px;

        h2 {

            margin: 0 0 10px;

            a {
                font-size: 20px;
                color: #464646;
            }
        }

        .entry-data {
            span {
                color: #969696;
                margin-right: 5px;
            }
        }
    }

    .flexbox {
        display: block;
        width: 100%;
        padding: 0 0 15px;
        border-bottom: 1px solid #ededed;

        .entry-image {
            float: left;
            width: 35%;
            height: 150px;

            a {
                img {
                    display: block;
                    width: 250px;
                    height: 150px;
                }
            }
        }

        .summary {
            padding-left: 20px;
            padding-top: 10px;
            width: 65%;
            float: left;

            a {
                display: inline-block;
                background-color: #F88C00;
                color: #fff;
                padding: 6px 12px;
                -webkit-transition: 1s all ease;
                transition: 1s all ease;

                &:hover {
                    -webkit-transition: 1s all ease;
                    transition: 1s all ease;
                    background-color: #eee;
                    color: #464646;
                    text-decoration: none;
                }
            }
        }

        &::after {
            display: block;
            content: "";
            clear: both;
        }
    }
}

.class-bassic {
    background-image: linear-gradient(to right, #36A1ED, #b2e1ff);
    -webkit-border-radius: 40px;
    border-radius: 40px;
        padding: 0;
}

// .srollbar-1 {
//     height: 590px;
//     overflow-y: scroll;
//     overflow-x: hidden;
//     margin-bottom: 15px;
//     padding: 0 10px;
// }

// /*
//  *  STYLE 5
//  */
// .style-5::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
//     background-color: rgba(245, 245, 245, 0);
// }

// .style-5::-webkit-scrollbar {
//     width: 10px;
//     background-color: rgba(245, 245, 245, 0);
// }

// .style-5::-webkit-scrollbar-thumb {
//     background-color: rgba(0, 170, 238, 0);
//     background-image: -webkit-gradient(linear, 0 0, 0 100%,
//         color-stop(0, rgba(255, 255, 255, 0)),
//         color-stop(0, transparent), to(transparent));
// }